# Python environments
venv/
*.pyc
__pycache__/

# Operating system files
.DS_Store

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Logs and databases
*.log
*.sqlite

# Virtual environments
.env
